fastapi[standard]
uvicorn[standard]
jinja2
transformers
torch
accelerate
bitsandbytes
sentence-transformers
faiss-cpu
numpy
pandas
python-multipart
huggingface_hub[hf_xet]
protobuf


langchain
langchain-community
langchain-huggingface
