accelerate>=1.10.0
anthropic>=0.62.0
bert-score>=0.3.13
datasets>=4.0.0
evaluate>=0.4.5
evaluation>=0.0.2
fastapi[standard]>=0.116.1
google-generativeai>=0.8.5
huggingface-hub>=0.34.3
lime>=0.2.0.1
matplotlib>=3.10.5
nltk>=3.9.1
numpy>=2.3.2
openai>=1.99.6
pandas>=2.3.1
peft>=0.17.0
plotly>=6.3.0
pydantic>=2.11.7
pydantic-settings>=2.10.1
transformers>=4.55.4
rouge-score>=0.1.2
sacrebleu>=2.5.1
scikit-learn>=1.7.1
seaborn>=0.13.2
spacy>=3.8.7
tqdm>=4.67.1
transformers>=4.55.0
tensorflow>=2.20.0
ruff>=0.12.8
uvicorn>=0.35.0
sentencepiece>=0.2.1
tf-keras>=2.19.0
langchain
langchain-community
